@import url("/theme.css");
@import url("/bg-carousel.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: all .3s linear;
    border: none;
    transition: none;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    min-height: 100vh;
    min-width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

a {
    text-decoration: underline;
    color: inherit;
}

/*styles for the banner*/

.banner {
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #0008;
    text-align: left;
    gap: .5em;
}

.banner>* {
    width: 100%;
}

/* Text styles */

#senthilkumar {
    text-align: center;
    padding: 1rem;
    font-size: max(5em, 5vw);
    font-weight: normal;
    text-align: left;
}

#copy {
    font-size: .3em;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}