@import url("/styles/default.css");
@import url("/styles/theme.css");
@import url("/styles/senthilkumar.css");
@import url("/styles/bg-carousel.css");
@import url("/styles/banner.css");

body {
    display: grid;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: underline;
    color: inherit;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    text-align: right;
}

.banner {
    text-align: left;
    background-color: var(--transparency-color);
}