@import url("/styles/default.css");
@import url("/styles/theme.css");
@import url("/styles/senthilkumar.css");

body{
    display: flex;
    gap: 1em;
    padding: 1em;
    flex-direction: column;
}

.impact-text {
    font-size: max(3em, 3vmin);
    padding: 1em;
    background-color: var(--transparency-color);
}

img {
    cursor: pointer;
    width: 100%;
}