@import url("/styles/default.css");
@import url("/styles/theme.css");
@import url("/styles/banner.css");

.section-heading {
    padding: 1em;
    font-weight: bold;
}

.album-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vmin, 1fr));
}

.album {
    aspect-ratio: 1 / 1;
    width: 100%;
    background-size: auto 100%;
    background-position: center;
    text-decoration: none;
}

.album-title {
    backdrop-filter: blur(2px);
    background-color: var(--transparency-color);
    text-align: left;
    padding: 5%;
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}