@import url("/styles/default.css");
@import url("/styles/theme.css");
@import url("/styles/senthilkumar.css");
@import url("/styles/banner.css");

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.icon {
    background-color: #fff;
    padding: .25em;
    border-radius: .5em;
    width: 3em;
}

#senthilkumar {
    text-align: center;
}