@import url("/styles/default.css");
@import url("/styles/theme.css");
@import url("/styles/senthilkumar.css");

body {
    padding: 5em;
    gap: 3em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
        "title photo"
        "text photo";
    align-items: center;
    justify-content: center;
    text-align: left;
}

a {
    text-decoration: none;
    color: inherit;
}

#title {
    grid-area: title;
}

#text {
    padding: 1em;
    grid-area: text;
}

img {
    grid-area: photo;
    height: calc(100vh - 10em);
}

@media (max-width: 1280px) {
    body {
        grid-template-areas:
            "title"
            "photo"
            "text";
        justify-items: center;
        grid-template-columns: 100%;
        gap: 2em;
        padding: 0;
        text-align: left;
    }

    img {
        width: 100%;
        height: auto;
    }
}