* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Hiragino, sans-serif;
    transition: all .3s linear;
    border: none;
    transition: none;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Hiragino;
    src: url(/styles/Hiragino\ Sans\ GB\ W6.otf);
}

body {
    width: 100%;
    min-height: 100dvh;
    min-width: fit-content;
}

a {
    text-decoration: underline;
    color: inherit;
}